@font-face {
    font-family: 'RobotoRegular';
    src: url('fonts/Roboto-Regular-webfont.eot');
    src: url('fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoItalic';
    src: url('fonts/Roboto-Italic-webfont.eot');
    src: url('fonts/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Italic-webfont.woff') format('woff'),
         url('fonts/Roboto-Italic-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Italic-webfont.svg#RobotoItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoBold';
    src: url('fonts/Roboto-Bold-webfont.eot');
    src: url('fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Bold-webfont.woff') format('woff'),
         url('fonts/Roboto-Bold-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Bold-webfont.svg#RobotoBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoBoldItalic';
    src: url('fonts/Roboto-BoldItalic-webfont.eot');
    src: url('fonts/Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-BoldItalic-webfont.woff') format('woff'),
         url('fonts/Roboto-BoldItalic-webfont.ttf') format('truetype'),
         url('fonts/Roboto-BoldItalic-webfont.svg#RobotoBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoCondensed';
    src: url('fonts/Roboto-Condensed-webfont.eot');
    src: url('fonts/Roboto-Condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Condensed-webfont.woff') format('woff'),
         url('fonts/Roboto-Condensed-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Condensed-webfont.svg#RobotoCondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoCondensedItalic';
    src: url('fonts/Roboto-CondensedItalic-webfont.eot');
    src: url('fonts/Roboto-CondensedItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-CondensedItalic-webfont.woff') format('woff'),
         url('fonts/Roboto-CondensedItalic-webfont.ttf') format('truetype'),
         url('fonts/Roboto-CondensedItalic-webfont.svg#RobotoCondensedItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoBoldCondensed';
    src: url('fonts/Roboto-BoldCondensed-webfont.eot');
    src: url('fonts/Roboto-BoldCondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-BoldCondensed-webfont.woff') format('woff'),
         url('fonts/Roboto-BoldCondensed-webfont.ttf') format('truetype'),
         url('fonts/Roboto-BoldCondensed-webfont.svg#RobotoBoldCondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoBoldCondensedItalic';
    src: url('fonts/Roboto-BoldCondensedItalic-webfont.eot');
    src: url('fonts/Roboto-BoldCondensedItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-BoldCondensedItalic-webfont.woff') format('woff'),
         url('fonts/Roboto-BoldCondensedItalic-webfont.ttf') format('truetype'),
         url('fonts/Roboto-BoldCondensedItalic-webfont.svg#RobotoBoldCondensedItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoThin';
    src: url('fonts/Roboto-Thin-webfont.eot');
    src: url('fonts/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Thin-webfont.woff') format('woff'),
         url('fonts/Roboto-Thin-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Thin-webfont.svg#RobotoThin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoThinItalic';
    src: url('fonts/Roboto-ThinItalic-webfont.eot');
    src: url('fonts/Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-ThinItalic-webfont.woff') format('woff'),
         url('fonts/Roboto-ThinItalic-webfont.ttf') format('truetype'),
         url('fonts/Roboto-ThinItalic-webfont.svg#RobotoThinItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoLight';
    src: url('fonts/Roboto-Light-webfont.eot');
    src: url('fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Light-webfont.woff') format('woff'),
         url('fonts/Roboto-Light-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Light-webfont.svg#RobotoLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoLightItalic';
    src: url('fonts/Roboto-LightItalic-webfont.eot');
    src: url('fonts/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-LightItalic-webfont.woff') format('woff'),
         url('fonts/Roboto-LightItalic-webfont.ttf') format('truetype'),
         url('fonts/Roboto-LightItalic-webfont.svg#RobotoLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoMedium';
    src: url('fonts/Roboto-Medium-webfont.eot');
    src: url('fonts/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Medium-webfont.woff') format('woff'),
         url('fonts/Roboto-Medium-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Medium-webfont.svg#RobotoMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoMediumItalic';
    src: url('fonts/Roboto-MediumItalic-webfont.eot');
    src: url('fonts/Roboto-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-MediumItalic-webfont.woff') format('woff'),
         url('fonts/Roboto-MediumItalic-webfont.ttf') format('truetype'),
         url('fonts/Roboto-MediumItalic-webfont.svg#RobotoMediumItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoBlack';
    src: url('fonts/Roboto-Black-webfont.eot');
    src: url('fonts/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Black-webfont.woff') format('woff'),
         url('fonts/Roboto-Black-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Black-webfont.svg#RobotoBlack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoBlackItalic';
    src: url('fonts/Roboto-BlackItalic-webfont.eot');
    src: url('fonts/Roboto-BlackItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-BlackItalic-webfont.woff') format('woff'),
         url('fonts/Roboto-BlackItalic-webfont.ttf') format('truetype'),
         url('fonts/Roboto-BlackItalic-webfont.svg#RobotoBlackItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {padding:0;margin:0; color:#fff; font-family: 'RobotoRegular'}

.right {float:right;}
.left {float: left;}
.clear {clear: both;}

#wrapper {width:100%;}

#device {
	width:405px;
	height:800px;
	background: url(../images/background.png) no-repeat;
	margin:0 auto;
	position:relative;
}

#deviceDisplay {
	position:absolute;
	width:350px;
	height:575px;
	background:green;
	margin:96px 0 0 28px;
}

UL {
	padding:0px;
	list-style:none;
	margin:0px;
}
UL LI { margin:0px; }
UL#deviceNavigationMain {
	width:350px;
	height:40px;
	margin:0 0 0 28px;
	position:absolute;
	top:675px;
}
UL#deviceNavigationMain LI {
	float:left;
	width:75px;
	height:40px;
	margin:0 20px;
	cursor:pointer;
	text-indent:-10000px;
}

UL#deviceNavigationSound {
	width:25px;
	height:125px;
	position:absolute;
	top:250px;
	left:-8px;
}
UL#deviceNavigationSound LI {
	width:100%;
	height:40px;
	margin:15px 0;
	cursor:pointer;
	text-indent:-10000px;
}

#deviceOnOffSwitch{
	position:absolute;
	width:25px;
	height:50px;
	right:-10px;
	top:180px;
	text-indent:-10000px;
	cursor:pointer;
}



/* ################################################ */
#standByScreen {
	height:575px;
	background:black !important;
	position:absolute;
	top:0;
	left:0;
	z-index: 9999;
}

.deviceApplication  {
	background:url(../images/devicebackground.png) no-repeat;
	width: 100%;
	height:575px;
	position:absolute;
	overflow: hidden;
}

.infoBar {
	height:25px;
	width:100%;
	position:relative;
	background:black;
	color:#0099cc;
}

.infoBar li{
	list-style:none;
	float:right;
	margin-left:4px;
	padding-top:3px;
}

.infoBar li.battery {width:12px; height:18px; background: url(../images/i-battery.png) no-repeat; background-position: 0 2px; text-indent: -1000px; }
.infoBar li.network {width:37px; height:18px; background: url(../images/i-network.png) no-repeat; background-position: 0 2px; text-indent: -1000px; }

#lockScreen .time {display:block; width:auto; margin:30px 20px 5px 30px; font-family:'RobotoLight'; font-size:62px; text-shadow:0 0 5px rgba(0,0,0,0.4);}
#lockScreen .date {display:block; width:auto; margin:0 20px 5px 30px; font-family:'RobotoLight'; font-size:22px; text-shadow:0 0 5px rgba(0,0,0,0.4);}


.lockArea {position:absolute; bottom:30px; width:100%; height:75px;}
.lockArea .actionCircle {position:absolute; bottom:-115px; left:42px; width:250px; height:250px; border-radius:150px; border:3px solid rgba(255,255,255,0.2);}

.lockArea .unlockItems {width:100%; position:absolute; height: 100px;}
.lockArea .unlockItems DIV {margin:0 15px; width:80px; height:80px;}

#lockUnlockCam {background: url(../images/i-camera.png) 15px 20px no-repeat;}
#lockUnlock {background: url(../images/i-unlock.png) 20px 15px no-repeat;}

.lockArea #lockItem {position:absolute; left:130px; border-radius:45px; border: 2px solid #FFF; width:80px; height:80px; background: url(../images/i-locked.png) 20px 13px no-repeat; cursor:pointer;}

@-webkit-keyframes fadeBig {
    0% {
        width:80px;
        height:80px;
        border-radius: 45px;
    }
    100% {
        width:100px;
        height:100px;
        border-radius: 50px;
    }
}

.lockArea #lockItem.dropping {background:none; -webkit-animation: fadeBig 0.8s;width:100px; height:100px; border-radius: 50px;}

.hidden {display: none;}


#output {
    width: auto;
    height: 575px;
    background: black;
    -webkit-transform: scale(-1, 1);
    margin:-100px 0 0 -200px;
    left:50%;
}

.camControl {width:100%; height:120px;background:#423f3f; position:absolute; bottom:0;}
.camButton {margin:30px auto 0; height:30px; width: 30px; background:#33b5e5;border-radius:30px; border:15px solid #333;}





.dashBoardShortCuts { width:340px; height:65px; border-top:2px solid rgba(255,255,255,0.6); position:absolute; bottom:0px; margin:0 5px; }
.dashBoardShortCuts LI { float:left; width:55px; height:60px; margin:5px 5px 0px; text-indent:-10000px; cursor:pointer;}
.dashBoardShortCuts LI:first-child {	margin-left:11px; }
.dashBoardShortCuts LI:last-child { margin-right:11px; }


.iconMail {background: url(../images/appIcons/i-mail.png) 2px 0px no-repeat;}
.iconCam {background: url(../images/appIcons/i-cam.png) 2px 0px no-repeat;}
.iconApps {width:48px !important;height:48px !important;margin:5px 8px 0 !important;border-radius:48px;border:2px solid rgba(255,255,255,0.7);background: url(../images/appIcons/i-apps.png) -1px -1px no-repeat;}
.iconNickel {background: url(../images/appIcons/i-nickel.png) 2px 0px no-repeat;}
.iconMap {background: url(../images/appIcons/i-map.png) 2px 0px no-repeat;}


#dashBoardApps {width:1750px; height:480px; position:absolute; left:-700px;}
#dashBoardApps > DIV {width:340px; height:480px; position:relative; float:left; opacity:0.5; padding:0 5px;}
#dashBoard0 {background:blue;}
#dashBoard1 {background:red;}
#dashBoard2 {background:green;}
#dashBoard3 {background:black;}
#dashBoard4 {background:gray;}

.launcherArea {background:#000; height:100%;}
.launcherHeader {display:inline-block; width:100%;border-bottom:1px solid #33b5e5; font-size:14px;}
.launcherHeader li {display:inline-block;padding:10px 20px;cursor: pointer;}
.launcherArea li.active {border-bottom: 4px solid #33d5e5;}
.appGrid li {float:left;width:70px;height:12px;background:red;margin:8px;font-size: 12px;text-align: center;padding-top:56px;cursor: pointer;}


#dashBoardApps .deviceAppShortCut {
	width:65px;
	height:100px;
	margin:10px;
	background:red;
	display:inline-block;
}











.deviceAppGrid {width:100%; height:480px; position:absolute; top:0px; font-family:arial;}
.deviceAppGrid DIV{position:absolute; height:20px; width:20px; font-family:Arial; text-align:center;}
.gridPlus0 {top:110px; left:75px;}
.gridPlus1 {top:110px; left:160px;}
.gridPlus2 {top:110px; left:245px;}
.gridPlus3 {top:230px; left:75px;}
.gridPlus4 {top:230px; left:160px;}
.gridPlus5 {top:230px; left:245px;}
.gridPlus6 {top:350px; left:75px;}
.gridPlus7 {top:350px; left:160px;}
.gridPlus8 {top:350px; left:245px;}






